﻿@model BLL.TipStudija

@{
    ViewBag.Title = "Brisanje";
}

<h2>@ViewBag.Title</h2>

<h3>Zaista želite pobrisati sljedeću stavku?</h3>
<div>
    <h4>Tip studija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisanje" class="btn btn-danger" /> |
            @Html.ActionLink("Povratak na popis", "Index")
        </div>
    }
</div>
