﻿@model BLL.ZnanstveniRad

@{
    ViewBag.Title = "Delete";
}

<h2>brisanje rada</h2>

<h3>jeste li sigurni da želite izbrisati ovaj rad ?</h3>
<div>
    <h4>ZnanstveniRad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Godina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SifraUpisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifraUpisa)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.TipZnanstvenogRada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipZnanstvenogRada)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Izbriši" class="btn btn-danger" />
                <input type="submit" onclick="window.history.back()" value="Odustani" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
