﻿@model BLL.ZnanstveniRad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ZnanstveniRad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Godina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SifraUpisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifraUpisa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Djelatnik.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Djelatnik.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipZnanstvenogRada.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipZnanstvenogRada.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
