﻿@{
    ViewBag.Title = "Naslovnica";
}

<div class="jumbotron">
    <h1>Fakulteti i sveučilišta</h1>
    <p class="lead">Ovo je apsolutno najbolji informacijski sustav za poslovanje sveučilišta i fakulteta.</p>
    <p>
        Naš sustav podržava evidentiranje podataka o sveučilištima, fakultetima, organizacijskim jedinicama,
        studijskim programima, predmetima, nastavnim i nenastavnim osobljem i još mnogo toga!
        Šifrarnici poput vrste organizacijske jedinice, vrste studija, zvanja, zanimanja!
    </p>
    <p><a href="http://www.hdz.hr" class="btn btn-primary btn-lg">Obratite se našem poslovnom partneru i ugovorite uslugu &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-book"></span> Riješite se papirologije</h2>
        <p>
            Imate hrpu papira, nemate više ladica, stolaca ni pretinaca za držati sve?
            <span class="glyphicon glyphicon-fire"></span> A što ćete u slučaju požara, ako sve izgori?
            Imate li uopće backup?
        </p>
        <p><a class="btn btn-danger" href="http://www.sdp.hr">Saznaj više zašto nas svi koriste &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-plus-sign"></span> Nabavi dodatke</h2>
        <p>Treba Vam proširenje funkcionalnosti? Ne sviđa Vam se višejezičnost aplikacije (malo hrvatski, malo engleski)?
        Ne želite izmišljati ključeve entiteta već to prepustiti sustavu? Želite filtriranje unosa po barem tri kriterija?
        Uz dovoljno novaca, napravit ćemo bilo kakvo proširenje za sustav!</p>
        <p><a class="btn btn-default" href="http://www.hns.hr" style="background-color: orange">Pogledaj primjere dodataka &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-cloud"></span> Usluga u oblaku</h2>
        <p>Dopustite nam da Vaš sustav smjestimo u najmoderniji oblak i budite sigurni da će raditi u slučaju kiše, pljuska, tuče, magle,
        snijega, potresa, kataklizme ili nestanka struje, a čak i pada Vlade.</p>
        <p><a class="btn btn-default" href="http://www.zivizid.hr/" style="background-color: yellow">Zašto odabrati oblak &raquo;</a></p>
    </div>
</div>