﻿@model BLL.Djelatnik

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Brisanje djelatnika</h2>

<h3>Jeste li sigurni da želite obrisati ovog djelatnika ?</h3>
<div>
    <h4>@Model.Ime @Model.Prezime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GodRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GodRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UredSoba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UredSoba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgJed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgJed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipDjelatnika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipDjelatnika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zaposlenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaposlenje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zvanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zvanje)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-offset-1 col-md-10">

                <input type="submit" value="Izbriši" class="btn btn-danger" />
                <input type="submit" onclick="window.history.back()" value="Odustani" class="btn btn-primary" />
            </div>
        </div>
        <br />
    }
</div>
