﻿@model ZI.Models.DjelatnikRadViewModel

@{
    ViewBag.Title = "Djelatnik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.djelatnik.Ime @Model.djelatnik.Prezime
    @Html.ActionLink("Uredi", "Edit", new { id = Model.djelatnik.Id }, htmlAttributes: new { @class = "pull-right btn btn-success" })
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.OIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.OIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.GodRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.GodRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.UredSoba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.UredSoba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.E_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.E_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.OrgJed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.OrgJed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.TipDjelatnika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.TipDjelatnika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.Zaposlenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.Zaposlenje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.djelatnik.Zvanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.djelatnik.Zvanje)
        </dd>

    </dl>
</div>

<div>

    <h3>Znanstveni radovi djelatnika
        @Html.ActionLink("Novi rad", "Create", "ZnanstveniRads", new { NastavnoOsobljeId = Model.djelatnik.Id }, htmlAttributes: new { @class = "pull-right btn btn-primary" })
    </h3>


    @if (Model.radovi.Count() > 0)
    {
        
        <table class="table table-striped table-hover" id="RadoviTable">
            <thead>
                <tr>
                    <th>
                        Naziv rada
                    </th>
                    <th>
                        Tip rada
                     @*   @Html.ActionLink("(Šifrarnik)", "Index", "TipZnanstvenogRadas")*@
                    </th>
                    <th>
                        Godina
                    </th>
                    <th>
                        Šifra upisa
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.radovi)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipZnanstvenogRada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Godina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SifraUpisa)
                        </td>
                        <td>
                            @Html.ActionLink("Uredi", "Edit", "ZnanstveniRads", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-default" }) 
                            @Html.ActionLink("Izbriši", "Delete", "ZnanstveniRads", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" }) 
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        @Html.Partial("~/Views/Shared/_NoEntries.cshtml")
    }
</div>

<p>
<p>
    @Html.ActionLink("Povratak na listu djelatnika", "Index")
</p>
</p>

@section scripts {
<script>
        $(document).ready(function () {
            $('#RadoviTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Croatian.json'
                }
            });
        });
</script>
}