﻿@model IEnumerable<BLL.Djelatnik>

@{
    ViewBag.Title = "Popis djelatnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title
    @Html.ActionLink("Novi zapis", "Create", new { OrgJedId = Request.QueryString["orgJedID"] }, htmlAttributes: new { @class = "pull-right btn btn-primary" })
    </h2>

<div class="well row">
    <div class="col-xs-4">
        Prikazano <strong>@Model.Count()</strong> djelatnik(a).<br />
    </div>
    <form id="filterForm" class="col-sm-8">
        <div class="col-sm-6">
            <label for="fakultetId">Fakultet</label>
            @Html.DropDownList("orgJedID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </form>
</div>

@if (Model.Count() > 0)
{
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OIB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodRodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UredSoba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgJed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipDjelatnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaposlenje)
            @Html.ActionLink("(Šifrarnik)", "Index", "Zaposlenjes")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zvanje)
            @Html.ActionLink("(Šifrarnik)", "Index", "Zvanje")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OIB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodRodjenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UredSoba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgJed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipDjelatnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaposlenje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zvanje)
        </td>
        <td>
            @Html.ActionLink("Uređivanje", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" }) 
            @Html.ActionLink("Pojedinosti", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-success" }) 
            @Html.ActionLink("Brisanje", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
}
else
{
    @Html.Partial("~/Views/Shared/_NoEntries.cshtml")
}

@section scripts {
    <script>
        var ff = '#filterForm';
        $(ff).on('change', function () {
            this.submit();
        });
    </script>
    }
