﻿@model IEnumerable<BLL.TipPredmeta>

@{
    ViewBag.Title = "Tipovi predmeta";
}

<h2>
    @ViewBag.Title
    @Html.ActionLink("Stvori novi", "Create", null, htmlAttributes: new { @class = "btn btn-primary pull-right" })
</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td class="btn-group btn-group-sm">
            @Html.ActionLink("Uredi", "Edit", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
            @*
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            *@
            @Html.ActionLink("Brisanje", "Delete", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
