﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RPPP10 team</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RPPP10", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*
                    <li>@Html.ActionLink("Sveučilišta", "Index", "Sveucilistes")</li>
                    *@
                    <li class="dropdown disabled">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fakulteti <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li role="presentation" class="dropdown-header vlasnikPodrucja">Ivan Brkljačić</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Fakulteti", "Index", "Fakultets")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Šifrarnici:</li>
                            <li>@Html.ActionLink("Tipovi org. jedinica", "Index", "TipOrgJeds")</li>
                        </ul>
                    </li>

                    <li class="dropdown disabled">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Studijski programi <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li role="presentation" class="dropdown-header vlasnikPodrucja">Željko Baranek</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Studijski programi", "Index", "StudijskiPrograms")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Šifrarnici:</li>
                            <li>@Html.ActionLink("Tipovi studija", "Index", "TipStudijas")</li>
                            <li>@Html.ActionLink("Tipovi predmeta", "Index", "TipPredmetas")</li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nastavni planovi <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li role="presentation" class="dropdown-header vlasnikPodrucja">Marko Aras</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Predmeti", "Index", "Predmets")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Šifrarnik:</li>
                            <li>@Html.ActionLink("Tipovi predmeta", "Index", "TipPredmetas")</li>

                        </ul>
                    </li>

                    <li class="dropdown disabled">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Djelatnici <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="presentation" class="dropdown-header vlasnikPodrucja">Matija Anić-Antić</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Djelatnici", "Index", "Djelatniks")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Šifrarnici:</li>
                            <li>@Html.ActionLink("Zvanja", "Index", "Zvanje")</li>
                            <li>@Html.ActionLink("Zaposlenja", "Index", "Zaposlenjes")</li>
                        </ul>
                    </li>
                    @*
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Šifrarnici <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Tipovi org. jedinica", "Index", "TipOrgJeds")</li>
                                <li>@Html.ActionLink("Tipovi studija", "Index", "TipStudijas")</li>
                                <li>@Html.ActionLink("Tipovi znans. rada", "Index", "TipZnanstvenogRadas")</li>
                                <li>@Html.ActionLink("Zvanja", "Index", "Zvanje")</li>
                                <li>@Html.ActionLink("Zaposlenja", "Index", "Zaposlenjes")</li>
                            </ul>
                        </li>
                    *@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RPPP10 team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
