﻿@model BLL.OrganizacijskaJedinica

@{
    ViewBag.Title = "Delete";
}

<br /><h2>Izbriši zapis</h2><br />

<h3>Jeste li sigurni da želite izbrisati ovaj zapis?</h3>
<div>
    <div class="well row">
    <h3><b>@Html.DisplayFor(model => model.Naziv)</b></h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kratica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kratica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipOrgJedNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipOrgJedNaziv)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" value="Izbriši" class="btn btn-danger" />
                    <input type="submit" onclick="window.history.back()" value="Odustani" class="btn btn-primary" />
                </div>
            </div>
            <br />
            }
        </div>
    </div>
