﻿@model IEnumerable<BLL.OrganizacijskaJedinica>

@{
    ViewBag.Title = "Organizacijske jedinice";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dodaj novi zapis", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kratica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Tip
            @Html.ActionLink("(Šifrarnik)", "Index", "TipOrgJeds")
        </th>
        <th width="200"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kratica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipOrgJedNaziv)
        </td>
        <td class="btn-group btn-group-sm">
            @Html.ActionLink("Detalji", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
            @Html.ActionLink("Uredi", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
            @Html.ActionLink("Izbriši", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
