﻿@model ZI.Models.StudijskiProgramViewModel

@{
    ViewBag.Title = "Studijski program";
}

<div class="page-header">

    <h2>
        @ViewBag.Title
        @Html.ActionLink("Uredi", "Edit", new { id = Model.StudijskiProgram.Id }, htmlAttributes: new { @class = "pull-right btn btn-success" })
    </h2>

    <div class="well">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StudijskiProgram.Naziv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudijskiProgram.Naziv)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StudijskiProgram.Trajanje)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudijskiProgram.Trajanje)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StudijskiProgram.Fakultet)
            </dt>

            <dd>
                @Html.ActionLink(Model.StudijskiProgram.Fakultet, "Details", "Fakultets", new { id = Model.StudijskiProgram.FakultetId }, null)
            </dd>

            <dt>
                Tip studija
                (@Html.ActionLink("Šifrarnik", "Index", "TipStudijas"))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudijskiProgram.TipStudija)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Svi studijski programi", "Index") 
</p>

<h3>
    Predmeti studijskog programa
    @Html.ActionLink("Novi zapis", "Create", "Predmets", new { studijskiProgramId = Model.StudijskiProgram.Id }, htmlAttributes: new { @class = "pull-right btn btn-primary" })
</h3>

@if (Model.Predmeti.Count() > 0)
{
    <table class="table table-hover table-striped" id="PredmetiTable">
        <thead>
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Tip predmeta
                    (@Html.ActionLink("Šifrarnik", "Index", "TipPredmetas"))
                </th>
                <th>
                    Ishodi učenja
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Predmeti)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipPredmeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IshodiUcenja)
                    </td>
                    <td class="btn-group btn-group-sm">
                        @*
                            Html.ActionLink("Pojedinosti", "Details", "Predmets", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
                        *@
                        @Html.ActionLink("Uredi", "Edit", "Predmets", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
                        @Html.ActionLink("Brisanje", "Delete", "Predmets", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("~/Views/Shared/_NoEntries.cshtml")
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('#PredmetiTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Croatian.json'
                }
            });
        });
    </script>
}