﻿@model IEnumerable<BLL.StudijskiProgram>

@{
    ViewBag.Title = "Studijski programi";
}

<h2>
    @ViewBag.Title
    @Html.ActionLink("Novi zapis", "Create", null, htmlAttributes: new { @class = "pull-right btn btn-primary" })
</h2>

<p>
</p>
<div class="well row">
    <div class="col-xs-4">
        Prikazano <strong>@Model.Count()</strong> program(a).<br />
    </div>
    <form id="filterForm" class="col-sm-8">
        <div class="col-sm-6">
            <label for="fakultetId">Fakultet</label>
            @Html.DropDownList("fakultetId", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-sm-6">
            <label for="tipStudijaId">Tip studija</label>
            @Html.DropDownList("tipStudijaId", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </form>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trajanje)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fakultet)
                </th>
                <th>
                    Tip studija
                    (@Html.ActionLink("Šifrarnik", "Index", "TipStudijas"))
                </th>
                <th width="250"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trajanje)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fakultet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipStudija)
                    </td>
                    <td class="btn-group btn-group-sm">
                        @Html.ActionLink("Pojedinosti", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
                        @Html.ActionLink("Uredi", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
                        @Html.ActionLink("Brisanje", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    @Html.Partial("~/Views/Shared/_NoEntries.cshtml")
}

@section scripts {
    <script>
        var ff = '#filterForm';
        $(ff).on('change', function () {
            this.submit();
        });
    </script>
}