﻿@model BLL.NastavniPlan

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nastavni plan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="PredmetId" value="@ViewBag.PredmetId" />

        <div class="form-group">
            @Html.LabelFor(model => model.ECTS, "ECTS bodova", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ECTS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ECTS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Semestar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Semestar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Semestar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GodinaOdrzavanja, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GodinaOdrzavanja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GodinaOdrzavanja, "", new { @class = "text-danger" })
            </div>
        </div>

        <fieldset>
            <legend>Sati (opterećenje)</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.SatiPredavanja, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SatiPredavanja, new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(model => model.SatiPredavanja, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SatiLaboratorija, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SatiLaboratorija, new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(model => model.SatiLaboratorija, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SatiVjezbi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SatiVjezbi, "", new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(model => model.SatiVjezbi, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pohrani" class="btn btn-primary" />
                @Html.ActionLink("Odustani", "Details", "Predmets", new { id = ViewBag.PredmetId }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}