﻿@model BLL.NastavniPlan

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3>Zaista želite obrisati?</h3>
<div>
    <h4>Nastavni plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ECTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semestar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semestar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GodinaOdrzavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GodinaOdrzavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SatiPredavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatiPredavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SatiLaboratorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatiLaboratorija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SatiVjezbi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatiVjezbi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisanje" class="btn btn-danger" /> |
            @Html.ActionLink("Odustani", "Details", "Predmets", new { id = Model.PredmetId }, new { @class = "btn btn-default" })
        </div>
    }
</div>
