﻿@model ZI.Models.FakultetViewModel

@{
    ViewBag.Title = "Details";
}
<br /><h2><b>@Html.DisplayFor(model => model.Fakultet.Naziv)</b></h2><br />

<h3>Opći podatci</h3>
<div class="well row">
    <div class="col-xs-4">
        @Html.ActionLink("Uredi zapis", "Edit", "Fakultets", new { id = Model.Fakultet.Id }, htmlAttributes: new { @class = "btn btn btn-default" })
    </div>
    <br /><br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fakultet.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fakultet.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fakultet.Kratica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fakultet.Kratica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fakultet.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fakultet.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fakultet.OIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fakultet.OIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fakultet.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fakultet.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fakultet.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fakultet.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fakultet.SveucilisteNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fakultet.SveucilisteNaziv)
        </dd>

    </dl>


</div>
<br />
<h3>Organizacijske jedinice fakulteta  |  
    @Html.ActionLink("Dodaj novi zapis", "Create", "OrganizacijskaJedinicas", new { fakID = Model.Fakultet.Id }, htmlAttributes: new { @class = "btn btn-success" })
</h3>

<div class="well row">

    @if (Model.OrgJedList.Count() > 0)
    {
        <br>
        <table class="table table-striped table-hover" id="OrgJedsTable">
            <thead>
                <tr>
                    <th>
                        Naziv jedinice
                    </th>
                    <th>
                        Kratica
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Tip
                        @Html.ActionLink("(Šifrarnik)", "Index", "TipOrgJeds")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrgJedList)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Kratica)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Email)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.TipOrgJedNaziv)
                        </th>
                        <th>
                            @Html.ActionLink("Uredi", "Edit", "OrganizacijskaJedinicas", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-default" })
                            @Html.ActionLink("Izbriši", "Delete", "OrganizacijskaJedinicas", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
                        </th>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        @Html.Partial("~/Views/Shared/_NoEntries.cshtml")
    }
</div>


<p>
    @Html.ActionLink("Povratak na listu fakulteta", "Index")
</p>

@section scripts {
<script>
        $(document).ready(function () {
            $('#OrgJedsTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Croatian.json'
                }
            });
        });
</script>
}