﻿@model IEnumerable<BLL.Fakultet>

@{
    ViewBag.Title = "Fakulteti";
}

<br /><h2><b>@ViewBag.Title</b></h2><br /><br />

<div class="well row">
    <div class="col-xs-4">
        @Html.ActionLink("Dodaj novi zapis", "Create", new { sveucID = Request.QueryString["SveucilisteId"]}, htmlAttributes: new { @class = "btn btn-success" })
    </div>
    <form id="filterForm" class="col-sm-8">
        <div class="col-sm-6">
            <label for="SveucilisteId">Sveučilište</label>
            @Html.DropDownList("SveucilisteId", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </form>
</div>

@if(Model.Count() != 0) { 
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kratica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SveucilisteNaziv)
        </th>
        <th width="200"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kratica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SveucilisteNaziv)
        </td>
        <td>
            @Html.ActionLink("Detalji", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
            @Html.ActionLink("Uredi", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-default" })
            @Html.ActionLink("Izbriši", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
}
else
{
    @Html.Partial("~/Views/Shared/_NoEntries.cshtml")
}
@section scripts {
    <script>
        var ff = '#filterForm';
        $(ff).on('change', function () {
            this.submit();
        });
    </script>
}
