﻿@model BLL.Zaposlenje

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izbriši zapis</h2>

<h3>Jeste li sigurni da želite izbrisati ovaj zapis?</h3>
<div>
    <h4>Zaposlenje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Izbriši" class="btn btn-danger" />
                <input type="submit" onclick="window.history.back()" value="Odustani" class="btn btn-primary" />
            </div>
        </div><br />
    }
</div>
