﻿@model IEnumerable<BLL.Zaposlenje>

@{
    ViewBag.Title = "Zaposlenje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title
    @Html.ActionLink("Novi zapis", "Create", null, htmlAttributes: new { @class = "pull-right btn btn-primary" })
    </h2>


<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.ActionLink("Uređivanje", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
            @Html.ActionLink("Brisanje", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
