﻿@model BLL.TipOrgJed

@{
    ViewBag.Title = "Create";
}

<br /><h2>Novi zapis tipa org. jedinice</h2><br />


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="well row">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
                </div>
            </div>
    </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                    <input type="button" onclick="window.history.back()" value="Povratak" class="btn btn-danger" />
                </div>
            </div>
        </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
