﻿@model BLL.TipOrgJed

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>TipOrgJed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Povratak na listu tipova org.jedinica", "Index")
</p>
