﻿@model IEnumerable<BLL.TipOrgJed>

@{
    ViewBag.Title = "Tipovi organizacijskih jedinica";
}

<br /><h2>@ViewBag.Title</h2><br /><br />

<div class="col-xs-4">
    @Html.ActionLink("Dodaj novi zapis", "Create", null, htmlAttributes: new { @class = "btn btn-success" })
</div>
<br /><br />

<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-default" })
            @Html.ActionLink("Izbriši", "Delete", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Povratak na listu fakulteta", "Index","Fakultets")
</p>
