﻿@model BLL.Predmet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Predmet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IshodiUcenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IshodiUcenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipPredmeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipPredmeta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Odustani", "Details", "StudijskiPrograms", new { id = Model.StudijskiProgramId }, new { })
        </div>
    }
</div>
