﻿@model ZI.Models.PredmetNastavniPlanoviViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Predmet i nastavni planovi</h2>

<div class="well">
    @Html.ActionLink("Uredi predmet", "Edit", new { id = Model.Predmet.Id }, htmlAttributes: new { @class = "pull-right btn btn-success" })
    <h4>Predmet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Predmet.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predmet.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predmet.TipPredmeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predmet.TipPredmeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predmet.StudijskiProgram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predmet.StudijskiProgram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predmet.IshodiUcenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predmet.IshodiUcenja)
        </dd>
    </dl>
</div>

<h4>
    @Html.ActionLink("Novi nastavni plan", "Create", "NastavniPlans", new { predmetId = Model.Predmet.Id }, htmlAttributes: new { @class = "pull-right btn btn-primary" })
    Nastavni planovi
</h4>
<hr />

@if (Model.NastavniPlanovi.Count() > 0)
{
    <table class="table table-hover table-striped" id="NastavniPlanoviTable">
        <thead>
            <tr>
                <th>
                    ECTS bodovi
                </th>
                <th>
                    Semestar
                </th>
                <th>
                    Godina održavanja
                </th>
                <th>Sati predavanja</th>
                <th>Sati laboratorija</th>
                <th>Sati vježbi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NastavniPlanovi)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ECTS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semestar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GodinaOdrzavanja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SatiPredavanja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SatiLaboratorija)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SatiVjezbi)
                    </td>
                    <td class="btn-group btn-group-sm">
                        @Html.ActionLink("Uredi", "Edit", "NastavniPlans", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
                        @Html.ActionLink("Brisanje", "Delete", "NastavniPlans", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("~/Views/Shared/_NoEntries.cshtml")
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('#NastavniPlanoviTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Croatian.json'
                }
            });
        });
    </script>
}