﻿@model IEnumerable<BLL.Predmet>

@{
    ViewBag.Title = "Predmeti";
}

<h2>@ViewBag.Title
    @Html.ActionLink("Novi predmet", "Create", null, new { @class = "btn btn-primary" })
</h2>
<hr />

<table id="PredmetiTable" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipPredmeta)
                (@Html.ActionLink("Šifrarnik", "Index", "TipPredmetas"))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudijskiProgram)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipPredmeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudijskiProgram)
                </td>
                <td class="btn-group btn-group-sm" width="225">
                    @Html.ActionLink("Pojedinosti", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Uredi", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
                    @Html.ActionLink("Brisanje", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#PredmetiTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Croatian.json'
                }
            });
        });
    </script>
}